.project_card {
    background-color: var(--background-card);
    width: 350px; /*500*/
    height: auto;
    margin: var(--margin-project-card);
    border-radius: var(--border-radius);
    border: 1px groove var(--border-color);
    box-shadow: 0px 5px 5px var(--color-box-shadow);
}
.project_card:hover {
    translate: 0 -5px;
    transition: 0.2s;
}

.project_card_header {
    background-color: var(--background-card);
    color: var(--text-color-primary);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-bottom: 1px groove var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: var(--padding);
}

.icons {
    display: flex;
    justify-content: flex-start;
}

.project_description {
    /*height: 120px;*/
    height: 175px;
    text-align: justify;
    margin: var(--margin);
    
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: var(--margin) var(--margin-project-card);
}