.project_card {
    background-color: var(--background-card);
    width: 350px; /*500*/
    height: 320px; /* auto 320px */
    margin: var(--margin-project-card);
    border-radius: var(--border-radius);
    border: 1px groove var(--border-color);
    box-shadow: 0px 5px 5px var(--color-box-shadow);
}
.project_card:hover {
    translate: 0 -5px;
    transition: 0.2s;
}

.project_card_header {
    background-color: var(--background-card);
    color: var(--text-color-primary);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-bottom: 1px groove var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%; /* 30px 10%*/
    padding: var(--padding);
}

.icons {
    display: flex;
    justify-content: flex-start;
}

.project_description {
    height: 55%; /* 120px 175px 55%*/
    text-align: justify;
    margin: var(--margin-project-card);
}

.button {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 var(--margin-project-card); /*var(--margin)*/
}

/* Mobile */
@media (max-width: 700px) {
    .project_card {
        width: 300px;
        height: 230px;
    }
    
    .project_card_header {
        font-size: 9pt;
        padding: 15px;
    }
    
    .project_description {
        font-size: var(--font-size-mobile-p);
        margin: var(--margin-mobile);
    }

    .button {
        font-size: var(--font-size-mobile-button);
        margin: var(--margin-project-card);
    }
  
}
  
/* Tablet */
@media (min-width: 701px) and (max-width: 1120px) {
    
    .project_card {
        width: 300px;
        height: 250px;
    }
    
    .project_card_header {
        font-size: 9pt;
        padding: 18px;
    }
    
    .project_description {
        font-size: var(--font-size-mobile-p);
        margin: var(--margin-mobile);
    }

    .button {
        font-size: var(--font-size-mobile-button);
        margin: var(--margin-project-card);
    }
  
}