.repository_button {
    width: 110px;
    height: 40px;
    display: flex;
    /*background-color: var(--backgorund-button);
    color: var(--text-color-secondary);*/
    color: #4169e1;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
}
/*
.repository_button:hover {

}
*/