.picture {
    margin: var(--margin) 0px;
    display: flex;
    justify-content: center;
}

.picture img {
    border-radius: 50%;
    width: 300px;
}

/* Mobile */
@media (max-width: 700px) {
    
    .picture img {
        width: 200px;
    }
  
}
  
  /* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    
    .picture img {
        width: 250px;
    }
  
}