.projects_container {
    width: 100%;
}

.project_container_header {
    height: 50px;
    display: flex;
    margin: var(--margin);
    justify-content: center;
}

.projects_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
}
