:root {  
  /* colors and backgrounds */
  --background-page: #F6F6F6;
  --background-card: #FFFFFF;
  --background-button: #FFFFFF;
  --background-button-hover: #4169e1;
  --background-color-footer: #4169e1;
  --background-color-knowledges: #4169e1;
  --color-box-shadow: rgba(0, 0, 0, 0.171);

  /* borders */
  --border-color: #CCCCCC;
  --border-radius: 12px;
  --border-radius-knowledges: 15px;
  
  /* fonts and colors */
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
  "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
  "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --font-size-h1: 40pt;
  --font-size-h2: 22pt;
  --font-size-p: 14pt;
  --font-size-contact: 10pt;
  --font-size-title-knowledges: 16pt;
  --font-size-button: ;
  /* fonts size for mobile */
  --font-size-mobile-h1: 18pt;
  --font-size-mobile-h2: 12pt;
  --font-size-mobile-p: 10pt;
  --font-size-mobile-contact: 8pt;
  --font-size-mobile-title-knowledges: 10pt;
  --font-size-mobile-button: 10pt;
  /* text colors */
  --text-color-primary: #424242;
  --text-color-secondary: #FFFFFF;
  --text-color-button: #4169e1;
  
  /* margins */
  --margin: 20px;
  --margin-project-card: 20px;
  --margin-icons: 4px;
  --margin-knowledges-icons: 5px;
  --margin-projects-icon: 2px;
  /* Mobile */
  --margin-mobile: 10px;
    
  /* paddings */
  --padding: 20px;
  --padding-main: 6rem;
  --padding-main-tablet: 3rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-page);
}

a {
  color: inherit;
  text-decoration: none;
}
