.icon_social_media {
    width: 25px;
    height: 25px;
    margin: var(--margin-icons)
}

.icon_knowledges {
    width: 50px;
    height: 50px;
    margin: var(--margin-knowledges-icons);
}

.icon_projects_tecnologies {
    width: 20px;
    height: 20px;
    margin: var(--margin-projects-icon);
}