.header{
    width: 100%;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Mobile */
@media (max-width: 700px) {
    
    .profile {
        margin-top: 50px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  
}