.header{
    width: 100%;   
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about {
    background-color: aquamarine;
    margin: var(--margin);
    text-align: center;
}