.footer{
    width: 100vw;
    height: 25vh;
    background-color: var(--background-color-footer);
    color: var(--text-color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Mobile */
@media (max-width: 700px) {

    .footer{
        height: 10vh;
    }
  
}
  
  /* Tablet and Smaller Desktop */
  @media (min-width: 701px) and (max-width: 1120px) {
    
    .footer{
        height: 20vh;
    }
  
}