.main_content {
    background-color: var(--background-color-knowledges);
    width: 80%;
    height: 200px;
    border: 1px groove var(--border-color);
    border-radius: var(--border-radius-knowledges);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 5px 5px var(--color-box-shadow);
}

.main_title{
    color: var(--text-color-secondary);
    font-size: var(--font-size-title-knowledges);
    height: 40px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    
}

.icons_grid {
    background-color: var( --background-card);
    height: 160px;
    display: flex; 
    justify-content: center;
    align-items:center;
    border-radius: var(--border-radius);
}

