.main_content {
    background-color: royalblue;
    width: 80%;
    height: 200px;
    border: 1px groove #ccc;
    border-radius: var(--border-radius-knowledges);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.171);
}

.main_title{
    color: var(--text-color-secondary);
    font-size: 16pt;
    height: 40px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    
}

.icons_grid {
    background-color: white;
    height: 160px;
    display: flex; 
    justify-content: center;
    align-items:center;
    border-radius: var(--border-radius);
}

